.all {
  width: 100%;
  height: 150px;
  background-color: #eeee;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.li {
  width: 100%;
  height: 150px;
  background-color: #eeee;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
